<template>
  <v-dialog v-model="modal">
    <v-card>
      <v-card-title>Add Private Key</v-card-title>
      <v-card-text>
        <form v-on:submit.prevent="submit">
          <v-text-field
            label="Private Key"
            v-model="privateKey"
          ></v-text-field>
          <v-btn color="primary" @click="close">Close</v-btn>
          <v-btn color="success" @click="submit">Add Key</v-btn>
        </form>
      </v-card-text>
      <v-card-title v-if="error" class="red--text title">{{ error }}</v-card-title>      
    </v-card>
  </v-dialog>   
</template>

<script>
import {mapState, mapGetters} from 'vuex'
export default {
  name: 'add',
  computed: {
    ...mapState({

    }),
    modal: {
      get () {
        return this.$store.state.AddPrivateKey.modal
      },
      set (value) {
        if(value) {
          return this.$store.commit('openAddPrivateKeyModal')
        }
        if(!value) {
          return this.$store.commit('closeAddPrivateKeyModal')
        }
      }
    },   
    privateKey: {
      get() {
        return this.$store.state.AddPrivateKey.privateKey
      },
      set(value) {
        return this.$store.commit('updateAddPrivateKeyText', value)
      }
    },   
    error: {
      get() {
        return this.$store.state.AddPrivateKey.error
      },
      set(value) {
        return false
      }
    }
  },
  methods: {
    close: function() {
      return this.$store.commit('closeAddPrivateKeyModal')
    },    
    submit: async function() {
      try{        
        this.$store.commit('setPKError', '')
        await this.$store.dispatch('addPrivateKey')
        this.$store.commit('closeAddPrivateKeyModal')     
      } catch (error) {
        console.error(error)
        this.$store.commit('setPKError', error)
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>