<template>
  <v-alert
    :type="theme"
    transition="fade-transition"
    dismissible
    icon="info"
    v-model="alert"
  >
  {{ message }}
  </v-alert>
</template>

<script>
import {mapState, mapGetters} from 'vuex'

export default {
  name: 'alert',
  computed: {
    ...mapState({
      theme: state => state.Alert.theme,
      message: state => state.Alert.message,
      timer: state => state.Alert.timer
    }),
    alert: {
      get() {
        return this.$store.state.Alert.open
      },
      set(value) {
        return this.$store.commit('closeAlert')
      }
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.alert {
  position: fixed;
  z-index: 100;
  margin: 0px;
  top: 20px;
  right: 30px;
  width: 350px;
}
</style>
