<template>
  <v-layout column fluid>
    <add-private-key></add-private-key>
    <info-sheet></info-sheet>
    <v-toolbar color="red" fixed height="100" v-if="debug" style="z-index: 1;">
      <h1 style="margin-top:60px">DEBUG MODE</h1>
    </v-toolbar>
    <v-card class="elevation-12">
      <v-card-text>
        <div v-if="debug"><br><br></div>
        <h3>This tool will process your 12/18/24 word mnemonic phrase or private keys, then construct and broadcast replay-protected transactions for BCH-ABC and Bitcoin SV.</h3>
        <br>
        <p>1. Enter mnemonic phrase, xprivkeys and/or private keys</p>
        <p>2. Check available balances</p>
        <p>3. Enter destination SV/ABC addresses</p>
        <p>4. Broadcast transactions</p>

        <h4 class="red--text title">A fee of 1% is deducted by the app</h4>
      </v-card-text>
    </v-card>
    <v-card class="elevation-12">
      <v-toolbar color="yellow">
        <v-card-title class="title black--text">Safety First</v-card-title>
      </v-toolbar>
      <v-card-text>
        <h3>YOUR PRIVATE KEYS <b>NEVER</b> LEAVE THE APP!</h3><br>
        <h4>INCLUDES 2-TIER REPLAY PROTECTION<br>(nLockTime and pre-split outputs)</h4>
        <br>
        <h4 class="red--text title">NO WARRANTY! Double check your entries before broadcasting!</h4>        
      </v-card-text>
    </v-card>  
    <cv<v-expansion-panel>
      <v-expansion-panel-content>
        <div slot="header">
          <v-toolbar primary color="red darken-4">
            <v-card-title class="title white--text">Enter Mnemonic Phrase</v-card-title>
          </v-toolbar>
        </div>
        <v-card-text>
          <form v-on:submit.prevent="submit">
            <v-text-field
              label="Mnemonic Phrase"
              v-model="mnemonic"
              autocomplete="off"
              autocapitalize="off"
              autocorrect="off"
            ></v-text-field>       
            <v-select
              :items="derivationPaths"
              label="Choose a Common Derivation Path"
              v-model="derivationPaths"
              box
            ></v-select>
            <v-text-field
              label="Derivation Path"
              v-model="derivationPath"
              autocomplete="off"
              autocapitalize="off"
              autocorrect="off"
            ></v-text-field>     
            <v-text-field
              label="Address Range"
              v-model="addressRange"
              autocomplete="off"
              autocapitalize="off"
              autocorrect="off"
            ></v-text-field>
            <p class="text-xs-center">Main and Change paths (m/0 and m/1) will be appended to the derivation path. Designed for Bitpay, Mycelium, Jaxx etc.</p>
            <v-text-field
              label="Max inputs to use from mnemonic"
              v-model="mnemonicMaxInputs"
              autocomplete="off"
              autocapitalize="off"
              autocorrect="off"
            ></v-text-field>
            <p class="text-xs-center">A maximum of 250 inputs can be used per sweep. If you have too many inputs in your wallet(s), you can sweep your keys twice or more to get them all.</p>
          </form>
        </v-card-text>
      </v-expansion-panel-content>
    </v-expansion-panel>
    <v-expansion-panel>
      <v-expansion-panel-content>
        <div slot="header">
          <v-toolbar primary color="blue darken-4">
            <v-card-title class="title white--text">Enter XPrivKey</v-card-title>
          </v-toolbar>
        </div>
        <v-card-text>
          <form v-on:submit.prevent="submit">
            <v-text-field
              label="BIP32 xPrivKey"
              v-model="xprivkey"
              autocomplete="off"
              autocapitalize="off"
              autocorrect="off"
            ></v-text-field>          
            <v-text-field
              label="Derivation Path"
              v-model="derivationPathXprivkey"
              autocomplete="off"
              autocapitalize="off"
              autocorrect="off"
            ></v-text-field>  
            <p class="red--text">A derivation path of 'm' is common for this type of key sweep</p>      
            <v-text-field
              label="Address Range"
              v-model="addressRangeXprivkey"
              autocomplete="off"
              autocapitalize="off"
              autocorrect="off"
            ></v-text-field>       
            <p class="text-xs-center">Nothing will be added to the derivation path. Designed for customized derivations.</p> 
            <p class="text-xs-center">Use the BIP39 tool https://github.com/iancoleman/jsbip39 if you need to use custom derivation paths but used a seed hex or mnemonic phrase with entropy to generate your xprivkey.</p>
            <v-text-field
              label="Max inputs to use from xpriv key"
              v-model="xprivkeyMaxInputs"
              autocomplete="off"
              autocapitalize="off"
              autocorrect="off"
            ></v-text-field>  
            <p class="text-xs-center">A maximum of 250 inputs can be used per sweep. If you have too many inputs in your wallet(s), you can sweep your keys twice or more to get them all.</p>                        
          </form>
        </v-card-text>
      </v-expansion-panel-content>
    </v-expansion-panel>
    <v-expansion-panel>
      <v-expansion-panel-content>
        <div slot="header">
          <v-toolbar primary color="green darken-4">
            <v-card-title class="title white--text">Enter Private Keys / Paper Wallet</v-card-title>
          </v-toolbar>
        </div>
        <v-card-text class="text-xs-center">  
          <v-btn color="purple darken-4 white--text" class="title" @click="enterPrivateKey">Enter Private Keys</v-btn>    
          <div v-if="isCameraAvailable">
            <v-btn color="orange darken-4 white--text" class="title" @click="openCamera('paper')">Scan Paper Wallet</v-btn>   
            <v-card-title v-if="qrNotification" class="red darken-4 white--text">
              <span class="break-word">{{ qrNotification }}</span>
            </v-card-title>        
          </div>            
        </v-card-text>
        <v-card-text v-if="privateKeys.length > 0">
          <p v-for="(key, index) in privateKeys" :key="index" class="ellipsis">
            <span @click="removePrivateKey(index)" class="red--text">[ X ]</span>
            <span>{{ key }}</span>
            <v-text-field
              label="Max inputs"
              :value="privateKeysInputLimitArr[index]"
              autocomplete="off"
              autocapitalize="off"
              autocorrect="off"
              @change="updatePrivateKeysInputLimit($event,index)"
            ></v-text-field>              
          </p>
          <p class="text-xs-center">A maximum of 250 inputs can be used per sweep. If you have too many inputs in your wallet(s), you can sweep your keys twice or more to get them all.</p>
        </v-card-text>
      </v-expansion-panel-content>
    </v-expansion-panel>
    <v-card class="elevation-12">
      <v-card-title v-if="notificationSweepKeys" class="yellow title black--text">
          {{ notificationSweepKeys }}
      </v-card-title>       
      <v-card-text>                  
        <v-card-actions class="text-xs-center">                              
          <v-btn color="green" class="title action-button" @click="sweepKeys">Sweep Keys</v-btn>    
        </v-card-actions>                
      </v-card-text>       
      <v-card-title v-if="notificationChainLength" class="yellow title black--text">
          <h3 v-if="notificationChainLength">{{ notificationChainLength }}</h3>
      </v-card-title>       
    </v-card>
    <v-card class="elevation-12" v-if="txParts"> 
      <v-toolbar primary color="purple">
        <v-card-title class="title">Enter Destination SV/ABC Addresses</v-card-title>
      </v-toolbar>
      <v-card-text>
        <form v-on:submit.prevent="submit">
          <v-text-field
            label="SV Address"
            v-model="svAddress"
            autocomplete="off"
            autocapitalize="off"
            autocorrect="off"
            append-outer-icon="center_focus_strong"
            @click:append-outer="openCamera('sv')"
          ></v-text-field>
          <v-card-title class="title">DOUBLE CHECK ADDRESSES!</v-card-title>
          <v-text-field
            label="ABC Address"
            v-model="abcAddress"
            autocomplete="off"
            autocapitalize="off"
            autocorrect="off"
            append-outer-icon="center_focus_strong"
            @click:append-outer="openCamera('abc')"
          ></v-text-field> 
          <v-card-title class="title">RECOMMENDED: Send full forensic logs to your email for this transaction</v-card-title>             
          <v-text-field
            label="Email Address"
            v-model="email"
            autocomplete="off"
            autocapitalize="off"
            autocorrect="off"
          ></v-text-field>  
        </form>
      </v-card-text>
    </v-card>
    <v-card class="elevation-12" v-if="txParts > 0">

      <v-card-title v-if="notificationMaxInputs" class="red darken-4 title white--text">
          {{ notificationMaxInputs }}
      </v-card-title>        
      <v-card-title v-if="notificationBuildTx" class="yellow title black--text">
          {{ notificationBuildTx }}
      </v-card-title>
      <v-card-text>
        <v-card-actions class="text-xs-center">                              
          <v-btn class="title action-button" color="red" @click="sendTx">Broadcast TXs</v-btn> 
        </v-card-actions>                
        <div v-if="rawtxSV">
          <v-card-title class="pink lighten-3 black--text">
              <span class="break-word">ABC Results: {{ sentNotificationABC }}</span>
          </v-card-title>          
          <br>
          <v-card-title class="orange lighten-3 black--text">
              <span class="break-word">SV Results: {{ sentNotificationSV }}</span>
          </v-card-title> 
        </div>
      </v-card-text>       
    </v-card>         
  </v-layout>   
</template>

<script>
import {mapState, mapGetters} from 'vuex'
import AddPrivateKey from './AddPrivateKey'
import InfoSheet from './InfoSheet'
export default {
  name: 'claim',
  components: {
    AddPrivateKey,
    InfoSheet
  },  
  computed: {
    ...mapState({

    }),
    debug: {
      get () {
        return this.$store.state.claim.debug
      },
      set (value) {
        return false;
      }
    },    
    email: {
      get () {
        return this.$store.state.claim.email
      },
      set (value) {
        return this.$store.commit('setEmail', value)
      }
    },    
    mnemonic: {
      get () {
        return this.$store.state.claim.mnemonic
      },
      set (value) {
        this.$store.commit('resetSweep')
        return this.$store.commit('setMnemonic', value)
      }
    },
    xprivkey: {
      get () {
        return this.$store.state.claim.xprivkey
      },
      set (value) {
        this.$store.commit('resetSweep')
        return this.$store.commit('setXprivkey', value)
      }
    },        
    privateKeys: {
      get() {
        return this.$store.state.claim.privateKeys
      },
      set(value) {
        return false
      }
    },
    privateKeysInputLimitArr: {
      get() {
        return this.$store.state.claim.privateKeysInputLimitArr
      },
      set(value) {
        return false
      }
    },    
    derivationPaths: {
      get() {
        return this.$store.state.claim.derivationPaths
      },
      set(value) {
        return this.$store.commit('setDerivationPath', value)
      }
    },        
    derivationPath: {
      get() {
        return this.$store.state.claim.derivationPath
      },
      set(value) {
        this.$store.commit('resetSweep')
        return this.$store.commit('setDerivationPath', value)
      }
    },    
    addressRange: {
      get() {
        return this.$store.state.claim.addressRange
      },
      set(value) {
        this.$store.commit('resetSweep')
        return this.$store.commit('setAddressRange', value)
      }
    },           
    isCameraAvailable: {
      get() {
        return this.$store.state.claim.isCameraAvailable
      },
      set(value) {
        return false
      }
    }, 
    derivationPathXprivkey: {
      get() {
        return this.$store.state.claim.derivationPathXprivkey
      },
      set(value) {
        this.$store.commit('resetSweep')
        return this.$store.commit('setDerivationPathXprivkey', value)
      }
    },    
    addressRangeXprivkey: {
      get() {
        return this.$store.state.claim.addressRangeXprivkey
      },
      set(value) {
        this.$store.commit('resetSweep')
        return this.$store.commit('setAddressRangeXprivkey', value)
      }
    },
    xprivkeyMaxInputs : {
      get() {
        return this.$store.state.claim.xprivkeyMaxInputs
      },
      set(value) {
        this.$store.commit('resetSweep')
        return this.$store.commit('setXprivkeyMaxInputs', value)
      }
    },
    mnemonicMaxInputs : {
      get() {
        return this.$store.state.claim.mnemonicMaxInputs
      },
      set(value) {
        this.$store.commit('resetSweep')
        return this.$store.commit('setMnemonicMaxInputs', value)
      }
    },    
    svAddress: {
      get() {
        return this.$store.state.claim.svAddress
      },
      set(value) {
        return this.$store.commit('setSvAddress', value)
      }
    }, 
    abcAddress: {
      get() {
        return this.$store.state.claim.abcAddress
      },
      set(value) {
        return this.$store.commit('setAbcAddress', value)
      }
    },        
    sentNotificationSV: {
      get() {
        return this.$store.state.claim.sentNotificationSV
      },
      set(value) {
        return false
      }
    }, 
    sentNotificationABC: {
      get() {
        return this.$store.state.claim.sentNotificationABC
      },
      set(value) {
        return false
      }
    }, 
    notificationSweepKeys: {
      get() {
        return this.$store.state.claim.notificationSweepKeys
      },
      set(value) {
        return false
      }
    },   
    notificationMaxInputs: {
      get() {
        return this.$store.state.claim.notificationMaxInputs
      },
      set(value) {
        return false
      }
    }, 
    notificationBuildTx: {
      get() {
        return this.$store.state.claim.notificationBuildTx
      },
      set(value) {
        return false
      }
    }, 
    notificationChainLength: {
      get() {
        return this.$store.state.claim.notificationChainLength
      },
      set(value) {
        return false
      }
    },    
    rawtxSV: {
      get() {
        return this.$store.state.claim.rawtxSV
      },
      set(value) {
        return false
      }
    },    
    decodedTx: {
      get() {
        return this.$store.state.claim.decodedTx
      },
      set(value) {
        return false
      }
    },
    isCordova: {
      get() {
        return this.$store.state.claim.isCordova
      },
      set(value) {
        return false;
      }
    },
    qrNotification: {
      get() {
        return this.$store.state.claim.qrNotification
      },
      set(value) {
        return false;
      }
    }, 
    txParts: {
      get() {
        return this.$store.state.claim.txParts
      },
      set(value) {
        return false;
      }
    }             
  },
  methods: { 
    buildTx: async function() {
      await this.$store.dispatch('buildTx')      
    }, 
    sweepKeys: async function() {
      await this.$store.dispatch('sweepKeys')      
    },        
    sendTx: async function() {
      try{
        await this.$store.dispatch('sendTx')        
      } catch (error) {
        this.$store.commit('stopGlobalFetch')
        console.error(error)
      }
    },
    enterPrivateKey: async function() {
      this.$store.commit('openAddPrivateKeyModal')
    },
    openCamera: async function(value) {
      this.$store.dispatch('openCamera', value)
    },
    removePrivateKey: async function(index) {
      this.$store.commit('removePrivateKey', index)
      this.$store.commit('resetSweep')
    },
    updatePrivateKeysInputLimit: async function(limit, index) {
      // console.warn(limit,index)
      this.$store.commit('setPrivateKeyInputLimit',{index:index,limit:limit})
      this.$store.commit('resetSweep')
    }      
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.action-button {
  margin:20px auto;
  font-size: 20pt!important;
  height: 60px;
}


</style>