<template>
  <div class="siteBodyFlex">
    <v-app dark id="appDiv">
      <alert></alert>
      <router-view name="external"></router-view>
      <router-view></router-view>
    </v-app>
    <vue-snotify></vue-snotify>
    <div id="qr-controls">
      <v-btn large color="blue" class="title white--text" @click="takePhoto">Scan</v-btn>
      <v-btn large color="red" class="title white--text" @click="exitScanner">Go Back</v-btn>
    </div>
  </div>
</template>

<script>
import Alert from './Alert.vue'
import EventBus from '../lib/event-bus.js'
export default {
  name: 'container',
  components: {
    Alert
  },
	beforeMount () {
		EventBus.$on('snotify', function (payload) {
      this.$snotify[payload.theme](payload.message, {
        timeout: payload.timer
      })
		})
	},
  methods: {
    takePhoto: async function() {
      this.$store.dispatch('takePhoto')
    },
    exitScanner: async function() {
      this.$store.dispatch('exitScanner')
    },        
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

</style>
