<template>
    <v-navigation-drawer
      fixed
      app
      v-model="left"
      >
      <v-list>
        <template v-for="(route, index) in routes">
          <v-subheader v-if="route.header" :key="route.header">{{ route.header }}</v-subheader>
          <v-list-tile v-for="item in route.items" router :key="item.title" :to="{ name: item.route }">
            <v-list-tile-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title :style="{'text-transform': 'capitalize'}">{{ item.title }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider v-if="route.divider" :key="index"></v-divider>
        </template>
      </v-list>
    </v-navigation-drawer>
</template>

<script>
import { mapState } from 'vuex'
export default {
  computed: {
    ...mapState({
      routes: state => state.Drawer.routes
    }),
    left: {
      get () {
        return this.$store.state.Drawer.left
      },
      set (value) {
        if(value) {
          return this.$store.commit('openDrawerLeft')
        }
        if(!value) {
          return this.$store.commit('closeDrawerLeft')
        }
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
</style>
