<template>
  <v-navigation-drawer
    right
    app
    disable-route-watcher
    clipped
    v-model="right"
  >
    <v-container>

    </v-container>
  </v-navigation-drawer>
</template>

<script>


export default {
  name: 'drawer-right',
  components: {
    
  },
  computed: {
    right: {
      get () {
        return this.$store.state.Drawer.right
      },
      set (value) {
        if(value) {
          return this.$store.commit('openDrawerRight')
        }
        if(!value) {
          return this.$store.commit('closeDrawerRight')
        }
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
