<template>
  <v-container fluid class="loadingOverlay" v-if="globalFetch">
    <v-layout>
      <v-flex xs12 justify-center align-center>
        <div v-for=" status in statuses" class="status">
          <div class="name">
            {{ status.key.name }}:
          </div>
          <div class="statuses">
            <v-progress-circular v-if="status.code === 0" indeterminate :size="34" color="primary"></v-progress-circular>
            <v-icon v-if="status.code === 1" large color="success">check_circle</v-icon>
            <v-icon v-if="status.code === 2" large color="error">highlight_off</v-icon>
          </div>
        </div>
        <v-progress-circular indeterminate :size="100" color="primary"></v-progress-circular>
      </v-flex>

    </v-layout>
    <v-layout>
      <h1 class="white--text">{{ status }}</h1>
    </v-layout>
  </v-container>
</template>

<script>
import {mapState} from 'vuex'

export default {
  name: 'fetchingApi-overlay',
  computed: {
    ...mapState({
      statuses: state => state.FetchingStatus.fetchStatus,
      status: state => state.FetchingStatus.status,
      globalFetch: state => state.FetchingStatus.globalFetch
    })
  },
  methods: {
    getClass: function(value){
      switch(value) {
        case 0:
          return 'loading'
        case 1:
          return 'success'
        case 2:
          return 'error'
        default:
          return null
      }
    },
    closeStatus: function(value) {
      return this.$store.dispatch('clearFetching', value )
    },
    getBalance: function(value) {
      return this.$store.dispatch('getBalance', value)
    },
    fetchAll: function(value) {
      return this.$store.dispatch('getAllBalances')
    },
    fetchError: function(value) {
      const statuses = this.$store.state.FetchingApiStatus.fetchStatus
      const errorStatuses = _.filter(statuses, item => item.code === 2)
      return  _.each(errorStatuses, item => this.$store.dispatch('getBalance', item.key))
    },
  }
  }
</script>

<style scoped>
  div {
    text-align: center;
  }
  .progress-circular {
    margin: 1rem;
  }
  .loadingOverlay {
    position: fixed;
    left: 0;
    z-index: 300;
    width: 100%;
    height: 100%;
    background: rgb(48, 48, 48);
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
  },
  .status {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 2px 0px;
  }
  .name {
    flex: 1;
    font-size: 18px;
    justify-content: flex-end;
    text-align: right;
  }
  .statuses {
    flex: 1;
    padding: 2px 0px 2px 15px;
  }
  .progress-circular {
    margin: 2px;
  }
  .min-height-5rem {
    height: 5rem;
    width: 100%;
  }
</style>
