<template>
  <v-container grid-list-md>
    <v-layout row wrap>
      <v-flex xs12 sm6 md3>
        <v-select
          v-model="poolName"
          label="Pool Name"
          :items="pools"
        ></v-select>
      </v-flex>
      <v-flex xs12 sm6 md3>
        <v-select
          v-model="keyExchanges"
          label="Key Exchange"
          :items="exchange"
        ></v-select>
      </v-flex>
      <v-flex xs12 sm6 md3>
        <v-select
          v-model="keyName"
          label="Key Name"
          :items="keys"
        ></v-select>
      </v-flex>
      <v-flex xs12 sm6 md3>
        <v-select
          v-model="cryptoName"
          label="Currency"
          :items="crypto"
        ></v-select>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import {mapGetters} from 'vuex'

export default {
  name: 'filter-balance',
  computed: {
    ...mapGetters({
      pools: 'filterPoolNames',
      exchange: 'filterKeyExchanges',
      keys: 'filterKeyName',
      crypto: 'filterCrypto'
    }),
    poolName: {
      get() {
        return this.$store.state.Filter.poolName
      },
      set(value) {
        return this.$store.commit('setPoolName', value)
      }
    },
    keyExchanges: {
      get() {
        return this.$store.state.Filter.keyExchanges
      },
      set(value) {
        return this.$store.commit('setKeyExchange', value)
      }
    },
    keyName: {
      get() {
        return this.$store.state.Filter.keyName
      },
      set(value) {
        return this.$store.commit('setKeyName', value)
      }
    },
    cryptoName: {
      get() {
        return this.$store.state.Filter.crypto
      },
      set(value) {
        return this.$store.commit('setCrypto', value)
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
