<template>
  <v-footer color="primary" height="55" class="white--text subheading" app>
    <span style="margin-left: 10px;">1 BCHABC = ${{ ratesABC }}</span>
    <v-spacer></v-spacer>
    <span style="margin-right: 10px;">1 BSV = ${{ ratesSV }}</span>
  </v-footer>
</template>

<script>
export default {
  name: 'footer-default',
  computed: {
  	ratesSV: {
      get () {
      	if(this.$store.state.claim.ratesSV.length > 3 && this.$store.state.claim.ratesSV[3].rate) {
	        return this.$store.state.claim.ratesSV[3].rate.toFixed(2)      		
      	} else {
      		return "..."
      	}
      },
      set (value) {
        return false;
      }
    },
  	ratesABC: {
      get () {
      	if(this.$store.state.claim.ratesABC.length > 3 && this.$store.state.claim.ratesABC[3].rate) {
	        return this.$store.state.claim.ratesABC[3].rate.toFixed(2)      		
      	} else {
      		return "..."
      	}      	
      },
      set (value) {
        return false;
      }
    },    
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
</style>
