<template>
  <v-dialog v-model="modal">
    <v-card>
      <v-card-title></v-card-title>
      <v-card-title><span class="title">About ABCSV Tool</span><v-spacer></v-spacer><v-btn  icon color="grey darken-4" right class="white--text" @click="close">X</v-btn></v-card-title>
      <v-card-title><span class="title"><i style="font-size: 60%">Sponsored by</i><br />BitLox Crypto Security Devices https://bitlox.com</span></v-card-title>

      <v-card-title><span class="title"><i style="font-size: 60%">Support:</i><br />http://telegram.me/@AbcSVTool<br />abc.sv.tool@gmail.com</span></v-card-title>      
      <v-card-text>
        
      	<p>
		The BitLox ABC/SV Tool gives bitcoin cash holders a way to safely and quickly split Bitcoin Cash ABC and Bitcoin SV into any wallet they choose. 
		</p><p>
		Private keys NEVER leave the app! It is NOT a wallet, it is designed only to help replay-protect coins on both blockchains.
		</p><h3>Necessary for BCH users</h3><p>
		Anyone who has Bitcoin Cash today MUST replay-protect their coins before spending them, or they will almost certainly lose any claim to the coins on the Bitcoin SV blockchain.
		</p><h3>Automatic and instant</h3><p>
		The BitLox ABC/SV tool is a faster and safer alternative to some other services, which require a lot of manual labor and leave room for errors.
		</p><p>
		The app handles everything automatically once backup keys are entered, and the pre-split coins provided by the app are already confirmed, so there’s no waiting.
		</p><h3>Easily upgraded and/or customized</h3><p>
		The BitLox ABC/SV tool supports several methods for extraction now, and because it is wallet-agnostic, it can easily be upgraded to support ANY configuration you desire within a very short period. Customized services are available.
		</p><h3>2-tier replay protection</h3><p>
		The app employs replay protection using nLockTime and pre-split coins. nLockTime takes advantage of a simple but powerful method to prevent a replay attack, delaying the confirmation of any replayed transaction until all coins are fully recovered. pre-split coins prevent a replay attack altogether by using outputs that are only valid on one chain, thus any node from the other chain could not relay the protected transaction.
		</p><h3>Supports partial recovery</h3><p>
		BitLox ABC/SV Tool allows users to recover individual keys from their mnemonic phrases. It does not require sending ‘the entire balance’ of a deterministic wallet.
		</p><h3>Supports custom derivation paths</h3><p>
		Since users are not locked into a single wallet app, BitLox ABC/SV Tool allows them to extract coins from otherwise difficult places, such as strange BIP32/39/44 derivation paths or old paper wallets.        
		</p>
    <p>commit {{commit.__COMMIT_HASH__}}</p>
    <p>Debug mode? {{ debugMode }}</p>
    <v-btn color="success darken-4" right class="white--text" @click="toggleDebugMode">Toggle Debug Mode</v-btn>

        <v-btn fab pull-right right class="grey--text" style="opacity:0;float:right" @click="openAnalytics">.</v-btn>
      </v-card-text>
    </v-card>
  </v-dialog>   
</template>

<script>
import {mapState, mapGetters} from 'vuex'

export default {
  name: 'info-sheet',
  computed: {
    ...mapState({

    }),
    modal: {
      get () {
        return this.$store.state.InfoSheet.modal
      },
      set (value) {
        if(value) {
          return this.$store.commit('openInfoSheetModal')
        }
        if(!value) {
          return this.$store.commit('closeInfoSheetModal')
        }
      }
    },
    commit: {
      get () {
        return  {__COMMIT_HASH__}
      },
      set() {
        return false
      }
    },
    debugMode: {
      get () {
        return  this.$store.state.claim.debug
      },
      set() {
        return false
      }
    }    
  },
  methods: {
    close: function() {
      return this.$store.commit('closeInfoSheetModal')
    },
    toggleDebugMode: function() {
      return this.$store.commit('setDebug')
    },
    openAnalytics: function() {
      this.$store.commit('closeInfoSheetModal')
      this.$router.push({ name: 'analytics'})
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>

