<template>
  <div>
    <fetchingApi-overlay></fetchingApi-overlay>
    <toolbar></toolbar>
    <!-- <drawer-right></drawer-right> -->
    <!-- <drawer-left></drawer-left> -->

    <v-content>
      <v-container fluid>
        <v-slide-x-transition mode="out-in">
          <router-view></router-view>
        </v-slide-x-transition>
      </v-container>
    </v-content>
    <footer-default></footer-default>
  </div>
</template>

<script>
import DrawerLeft from './DrawerLeft.vue'
import DrawerRight from './DrawerRight.vue'
import Toolbar from './Toolbar.vue'
import FooterDefault from './FooterDefault.vue'
import FetchingApiOverlay from './FetchingApiOverlay.vue'

export default {
  name: 'main-component',
  components: {
    DrawerLeft,
    DrawerRight,
    Toolbar,
    FooterDefault,
    FetchingApiOverlay
  },
  beforeCreate: function() {
    this.$store.dispatch('startApp')
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
</style>
