<template>
  <div class="navigationComponents">
    <v-menu offset-y>
      <v-badge v-if="errors.length !== 0" overlap bottom color="red" slot="activator">
        <span slot="badge">{{errors.length}}</span>
        <v-icon class="notificationIcon">message</v-icon>
      </v-badge>
      <v-icon v-if="errors.length === 0" class="notificationIcon" slot="activator">message</v-icon>
      <div class="notifcationDrop">
        <v-list>
            <v-list-tile v-for="error in errors" :key="error.key.id">
              <v-list-tile-avatar>
                <v-btn icon ripple @click="getBalance(error.key)">
                  <v-icon>autorenew</v-icon>
                </v-btn>
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title>{{ error.key.name }}</v-list-tile-title>
                <v-list-tile-sub-title>{{ error.error.message }}</v-list-tile-sub-title>
              </v-list-tile-content>
              <v-list-tile-action>
                <v-btn icon ripple @click="clearError(error.key)">
                  <v-icon color="error">clear</v-icon>
                </v-btn>
              </v-list-tile-action>
            </v-list-tile>
        </v-list>
      </div>
    </v-menu>
  </div>
</template>

<script>
import {mapState, mapGetters} from 'vuex'

export default {
  name: 'notifications',
  computed: {
    ...mapGetters({
      errors: 'getFetchApiErrors'
    })
  },
  methods: {
    getBalance: function(value) {
      this.$store.commit('setKeyToFetch', value)
      return this.$store.dispatch('getKey')
    },
    clearError: function(value) {
      return this.$store.dispatch('clearFetching', value)
    }
  }
}
</script>

<style scoped>
.notifcationDrop .list {
    padding: 0px !important;
}
.notifcationDrop {
    padding: 20px;
    background: #424242;
    min-width: 250px;
    max-width:250px;
}
.individualNotification {
    border-left: 2px solid #2196f3;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 15px;
}
</style>
