<template>
  <div>
    <h2>Settings</h2>
  </div>
</template>

<script>
export default {
  name: 'settings',
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
