<template>
  <v-toolbar fixed app color="white" class="appToolbar">
    <img class="title-logo" :src="require('../assets/icon-sm.png')"/>
    <v-spacer></v-spacer>
    <!-- <v-toolbar-side-icon @click.stop="toggleLeftDrawer"></v-toolbar-side-icon> -->
    <v-toolbar-title class="title-text grey--text">ABC/SV Claim Tool</v-toolbar-title>
    <!-- <img class="title-logo" src="logo.png"/> -->
    <v-spacer></v-spacer>
    <!-- <notifications></notifications> -->
    <div class="material-icons md-48 pointer black--text" @click.stop="openInfoSheet">help</div>
  </v-toolbar>
</template>

<script>
import {mapGetters} from 'vuex'
import Notifications from './Notifications.vue'


export default {
  name: 'toolbar',
  components: {
    Notifications
  },
  computed: {
    ...mapGetters({
      totalBtc: 'getTotalWalletBalance'
    })
  },
  methods: {
    toggleLeftDrawer: function() {
      const {left} = this.$store.state.Drawer
      if (!left) {
        return this.$store.commit('openDrawerLeft')
      }
      return this.$store.commit('closeDrawerLeft')
    },
    toggleRightDrawer: function() {
      const {right} = this.$store.state.Drawer
      if (!right) {
        return this.$store.commit('openDrawerRight')
      }
      return this.$store.commit('closeDrawerRight')
    },
    getAllBalance: function() {
      return this.$store.dispatch('getKeys')
    },
    openInfoSheet: async function() {
      this.$store.commit('openInfoSheetModal')
    }    
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

.title-logo {
  height: 41px;
}
.title-text {
  margin:0px!important;
}
.pointer {
  cursor:pointer;
}
</style>

