<template>
  <v-layout column>
    <v-flex xs12
      <v-flex xs6 mb2>
        <h2 class="headline">Analytics</h2>
      </v-flex>
      <v-flex xs6 mb2>
<!--         <v-text-field
          name="search"
          label="Search"
          id="searchAnalytics"
          v-model="searchAnalytics"
        ></v-text-field>   -->     
      </v-flex>

      <v-flex xs6 mb2 class="text-xs-right">
        <v-btn color="secondary" @click="close()">Close</v-btn>
        <v-btn color="red darken-4" class="white--text" @click="refresh()">Refresh</v-btn>
      </v-flex>
    </v-flex>

    <v-container fluid>
      <v-data-iterator
        :items="analyticsData"
        :rows-per-page-items="rowsPerPageItems"
        content-tag="v-flex"
        :search="searchAnalytics"
        row
        wrap
      >
        <v-flex
          slot="item"
          slot-scope="props"
          xs12
        >        
          <v-card color="grey lighten-4">

            <v-card-title class="title">
              {{ props.item._id }}</span>
            </v-card-title>
            <v-card-title>
              {{ props.item.ip }}</span>
            </v-card-title>                  
            <v-card-text>
              {{ JSON.stringify(props.item.platform) }} {{ JSON.stringify(props.item.model) }}
            </v-card-text>
            <v-card-text>
             Entries: {{props.item.data.length}}
            </v-card-text>
            <v-expansion-panel v-for="(item,i) in props.item.data"
                :key="i">
              <v-expansion-panel-content>
                <v-card-title slot="header">{{item.date}} {{item.previewString}}</v-card-title>
                <v-card color="red lighten-4" v-for="dataItem in item.data">
                  <v-card-text  class="break-word" v-if="!dataItem.isJSON">{{dataItem.data}}</v-card-text>
                  <vue-json-pretty
                    v-if="dataItem.isJSON"
                    :data="dataItem.data">
                  </vue-json-pretty>                  
                </v-card>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-card>
<!--                 <v-list-tile-action @click="show(props.item)">
            <v-tooltip top>
              <v-btn icon ripple slot="activator">
                <v-icon color="primary">visibility</v-icon>
              </v-btn>
              <span>Show Details</span>
            </v-tooltip>
          </v-list-tile-action> -->
        </v-flex>
      </v-data-iterator>
    </v-container>
  </v-layout>
</template>

<script>
import _ from 'lodash'
import { mapState, mapGetters } from 'vuex'
import { formatTime } from '../../lib/helpers.js'
import VueJsonPretty from 'vue-json-pretty'

export default {
  name: 'analytics-table',
  components: {
    VueJsonPretty
  },
  computed: { 
    ...mapState({
      rowsPerPageItems: [20, 50, 100]    
    }),
    searchAnalytics: {
      get() {
        return this.$store.state.analytics.searchAnalytics
      },
      set(value) {
        return this.$store.commit('setSearchAnalytics', value)
      }
    },
    remoteParams: {
      get() {
        return this.$store.state.analytics.remoteParams
      },
      set(value) {
        return this.$store.commit('setRemoteParams', value)
      }
    },     
    ...mapGetters({
      analyticsData: 'getAnalyticsData'
    })
  },
  methods: {
    // show: function (value) {
    //   this.$store.commit('updateAnalyticsShowSelected', value)
    //   this.$store.commit('openAnalyticsShowModal')
    // },
    refresh: function (value) { // value
      // this.$store.commit('setAnalyticsCurrentTab', value)
      return this.$store.dispatch('refreshAnalytics')
    },
    close: function (value) {
      this.$router.go(-1);
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
