<template>
    <div class="dailyReportContainer">
        <div class="dailyReport">
            <div class="dailyReportTopStats">
                <div>
                    <div class="flexDReport">
                        <span> </span>
                        <v-icon>show_chart</v-icon>
                    </div>
                    <div class="flexDReport"> 
                        <h4>Pools profit 24H</h4>
                        <p>+0.4534 BTC</p>
                    </div>
                </div>
                <div>
                    <div class="flexDReport">
                        <span> </span>
                        <v-icon>bubble_chart</v-icon>
                    </div>
                    <div class="flexDReport"> 
                        <h4>Pool Coins</h4>
                        <p>584.83 BTC</p>
                    </div>
                </div>
                <div>
                    <div class="flexDReport">
                        <span> </span>
                        <v-icon>pie_chart</v-icon>
                    </div>
                    <div class="flexDReport"> 
                        <h4>Pools</h4>
                        <p>27</p>
                    </div>
                </div>
                <div>
                    <div class="flexDReport">
                        <span> </span>
                        <v-icon>person_add</v-icon>
                    </div>
                    <div class="flexDReport"> 
                        <h4>New Users 24H</h4>
                        <p>6932</p>
                    </div>
                </div>
            </div>
            <div class="drTables">
                <div class="dailyReportTableContainer">
                    <v-card>
                    <v-card-title primary class="title">Individual users stake</v-card-title>
                    <div class="commonModuleContainer">
                        <v-data-table
                            v-bind:headers="userStakeDistribution"
                            :items="userStakeDistributionItems"
                            class="elevation-1"
                            >
                            <template slot="headerCell" slot-scope="props">
                            <v-tooltip bottom>
                                <span slot="activator">
                                {{ props.header.text }}
                                </span>
                                <span>
                                {{ props.header.text }}
                                </span>
                            </v-tooltip>
                            </template>
                            <template slot="items" slot-scope="props">
                            <td>{{ props.item.name }}</td>
                            <td class="text-xs-right">{{ props.item.stakeInPool1 }}</td>
                            <td class="text-xs-right">{{ props.item.stakeInPool2 }}</td>
                            <td class="text-xs-right">{{ props.item.stakeInPool3 }}</td>
                            <td class="text-xs-right">{{ props.item.stakeInPool4 }}</td>
                            </template>
                        </v-data-table>
                    </div>
                    </v-card>
                </div>
                <div class="dailyReportTableContainer">
                    <v-card>
                    <v-card-title primary class="title">Pools coin distribution</v-card-title>
                    <div class="commonModuleContainer">
                        <v-data-table
                            v-bind:headers="poolCoinDistribution"
                            :items="poolCoinDistributionItems"
                            class="elevation-1"
                            >
                            <template slot="headerCell" slot-scope="props">
                            <v-tooltip bottom>
                                <span slot="activator">
                                {{ props.header.text }}
                                </span>
                                <span>
                                {{ props.header.text }}
                                </span>
                            </v-tooltip>
                            </template>
                            <template slot="items" slot-scope="props">
                            <td>{{ props.item.coinName }}</td>
                            <td class="text-xs-right">{{ props.item.coinStakeInPool1 }}</td>
                            <td class="text-xs-right">{{ props.item.coinStakeInPool2 }}</td>
                            <td class="text-xs-right">{{ props.item.coinStakeInPool3 }}</td>
                            <td class="text-xs-right">{{ props.item.coinStakeInPool4 }}</td>
                            </template>
                        </v-data-table>
                    </div>
                    </v-card>
                </div>
                <div class="dailyReportTableContainer">
                    <v-card>
                    <v-card-title primary class="title">Individual pool profit</v-card-title>
                    <div class="commonModuleContainer">
                        <v-data-table
                            v-bind:headers="poolProfit"
                            :items="poolProfitItems"
                            class="elevation-1"
                            >
                            <template slot="headerCell" slot-scope="props">
                            <v-tooltip bottom>
                                <span slot="activator">
                                {{ props.header.text }}
                                </span>
                                <span>
                                {{ props.header.text }}
                                </span>
                            </v-tooltip>
                            </template>
                            <template slot="items" slot-scope="props">
                            <td>{{ props.item.poolName }}</td>
                            <td class="text-xs-right">{{ props.item.poolProfit }}</td>
                            </template>
                        </v-data-table>
                    </div>
                    </v-card>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
  components: {

  },
  name: 'dailyReport',
    data () {
      return {
        userStakeDistribution: [
          {
            text: 'Client name',
            align: 'left',
            sortable: false,
            value: 'name'
          },
          { text: 'Pool1', value: 'stakeInPool1' },
          { text: 'Pool2', value: 'stakeInPool2' },
          { text: 'Pool3', value: 'stakeInPool3' },
          { text: 'Pool4', value: 'stakeInPool4' },
        ],
        userStakeDistributionItems: [
          {
            value: false,
            name: 'Jon',
            pool1: 'Pool1',
            pool2: 'Pool2',
            pool3: 'Pool3',
            pool4: 'Pool4',
            stakeInPool1: '6.002 BTC',
            stakeInPool2: '0.774 BTC',
            stakeInPool3: '0.061 BTC',
            stakeInPool4: '0.925 BTC',
          },          
          {
            value: false,
            name: 'David',
            pool1: 'Pool1',
            pool2: 'Pool2',
            pool3: 'Pool3',
            pool4: 'Pool4',
            stakeInPool1: '24.034 BTC',
            stakeInPool2: '0.563 BTC',
            stakeInPool3: '0.884 BTC',
            stakeInPool4: '53.374 BTC',
          },
        ],
        poolCoinDistribution: [
          {
            text: 'Coin',
            align: 'left',
            sortable: false,
            value: 'coinName'
          },
          { text: 'Pool1', value: 'stakeInPool1' },
          { text: 'Pool2', value: 'stakeInPool2' },
          { text: 'Pool3', value: 'stakeInPool3' },
          { text: 'Pool4', value: 'stakeInPool4' },
        ],
        poolCoinDistributionItems: [
          {
            value: false,
            coinName: 'Bitcoin',
            pool1: 'Pool1',
            pool2: 'Pool2',
            pool3: 'Pool3',
            pool4: 'Pool4',
            coinStakeInPool1: '0 BTC',
            coinStakeInPool2: '0 BTC',
            coinStakeInPool3: '0 BTC',
            coinStakeInPool4: '0 BTC',
          },          
          {
            value: false,
            coinName: 'Litecoin',
            pool1: 'Pool1',
            pool2: 'Pool2',
            pool3: 'Pool3',
            pool4: 'Pool4',
            coinStakeInPool1: '0 LTC',
            coinStakeInPool2: '0 LTC',
            coinStakeInPool3: '0 LTC',
            coinStakeInPool4: '0 LTC',
          },          
          {
            value: false,
            coinName: 'Dogecoin',
            pool1: 'Pool1',
            pool2: 'Pool2',
            pool3: 'Pool3',
            pool4: 'Pool4',
            coinStakeInPool1: '0 DOGE',
            coinStakeInPool2: '0 DOGE',
            coinStakeInPool3: '0 DOGE',
            coinStakeInPool4: '0 DOGE',
          },
        ],
        poolProfit: [
          {
            text: 'Pool name',
            align: 'left',
            sortable: false,
            value: 'poolName'
          },
          { text: 'Pool profit', value: 'stakeInPool1' },
        ],
        poolProfitItems: [
          {
            value: false,
            poolName: 'Pool1',
            poolProfit: '- 430 BTC',
          },          
          {
            value: false,
            poolName: 'Pool2',
            poolProfit: '+ 960 BTC',
          },          
          {
            value: false,
            poolName: 'Pool3',
            poolProfit: '+ 610 BTC',
          },
        ]
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.drTables .dailyReportTableContainer:not(:first-child) {
    margin-top:25px;
}
.dailyReportTopStats > div:not(:first-child) {
    margin-left: 25px;
}
.dailyReportTopStats > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border-radius: 2px;
    padding: 25px;
}
.dailyReportTopStats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 2px;
    margin-bottom: 25px;
}

.dailyReportTopStats > div .flexDReport {
    position: relative;
}
.dailyReportTopStats > div .flexDReport span:first-child {
    position: absolute;
    background: rgba(255, 0, 0, 0);
    min-width: 50px;
    border: 2px solid #4caf50;
    min-height: 50px;
    border-radius: 2px;
    top: -10px;
    left: -10px;
    z-index: 0;
}
.dailyReportTopStats > div i {
    background: #4caf50;
    padding: 10px;
    font-size: 31px;
    border-radius: 2px;
    position: relative;
}

.dailyReportTopStats > div:nth-child(2) .flexDReport span:first-child {
    border: 2px solid #2196F3;
}
.dailyReportTopStats > div:nth-child(2) i {
    background: #2196F3;
}
.dailyReportTopStats > div:nth-child(3) .flexDReport span:first-child {
    border: 2px solid #ffc107;
}
.dailyReportTopStats > div:nth-child(3) i {
    background: #ffc107;
}
.dailyReportTopStats > div:nth-child(4) .flexDReport span:first-child {
    border: 2px solid #ff5252;
}
.dailyReportTopStats > div:nth-child(4) i {
    background: #ff5252;
}
.flexDReport p {
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: bold;
    color:#4caf50;
}
.dailyReportTopStats > div:nth-child(2) .flexDReport p {
    color:#2196F3;
}
.dailyReportTopStats > div:nth-child(3) .flexDReport p {
    color:#ffc107;
}
.dailyReportTopStats > div:nth-child(4) .flexDReport p {
    color:#ff5252;
}
.flexDReport h4 {
    text-transform: uppercase;
    font-size: 11px;
}
</style>
