<template>
  <div class="formLoader">
    <v-progress-circular indeterminate v-bind:size="50" color="white"></v-progress-circular>
  </div>
</template>

<script>
export default {
  name: 'formLoader',
    data () {
      return {
      }
    }
  }
</script>

<style scoped>
  div {
    text-align: center;
  }
.formLoader {
    display: flex;
    align-items: center;
    justify-content: center;
}
.progress-circular.progress-circular--indeterminate.white--text {
    width: 20px !important;
    height: 20px !important;
    margin: unset !important;
}
</style>