<template>
      <v-card>
        <v-card-title primary class="title">Notifications</v-card-title>
        <div class="commonModuleContainer">
  <v-data-table
      v-bind:headers="headers"
      :items="items"
      class="elevation-1"
    >
    <template slot="headerCell" slot-scope="props">
      <v-tooltip bottom>
        <span slot="activator">
          {{ props.header.text }}
        </span>
        <span>
          {{ props.header.text }}
        </span>
      </v-tooltip>
    </template>
    <template slot="items" slot-scope="props">
      <td class="text-xs-left ">{{ props.item.ntype }}</td>
      <td class="text-xs-right">{{ props.item.nmessage }}</td>
      <td class="text-xs-right">{{ props.item.ntime }}</td>
      <!-- <td class="text-xs-right">{{ props.item.remove }}</td>
      <td class="text-xs-right">{{ props.item.balance }}</td> -->
    </template>
  </v-data-table>
          </div>
      </v-card>
</template>

<script>
import formLoader from './FormLoader.vue'

export default {
  components: {
    formLoader
  },
  name: 'notifications',
    data () {
      return {
        headers: [
          { text: 'Type', value: 'ntype' },
          { text: 'Notification Message', value: 'nmessage' },
          { text: 'Time', value: 'ntime' },
        ],
        items: [
          {
            ntype: 'Error',
            nmessage: 'Failed login attempt',
            ntime: '14/04/1982',
          },
        ]
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
td .btn {
  margin:unset !important;
}
.tdButtonContainer {
    width: 145px;
}
</style>
