<template>
      <v-card>
        <v-card-title primary class="title">Portfolio of David</v-card-title>
        <div class="balanceModule">
  <v-data-table
      v-bind:headers="headers"
      :items="items"
      hide-actions
      class="elevation-1"
    >
    <template slot="items" slot-scope="props">
      <td>{{ props.item.totalBtc }}</td>
      <td class="text-xs-right">{{ props.item.totalUsd }}</td>
    </template>
  </v-data-table>
  <br/>
    <v-data-table
      v-bind:headers="headersPortfolio"
      :items="itemsPortfolio"
      hide-actions
      class="elevation-1"
    >
    <template slot="items" slot-scope="props">
      <td>{{ props.item.exchangeName }}</td>
      <td class="text-xs-right">{{ props.item.exchangeBtcVal }}</td>
      <td class="text-xs-right">{{ props.item.exchangeUsdVal }}</td>
    </template>
  </v-data-table>
        </div>
      </v-card>
</template>

<script>
export default {
    data () {
      return {
        name: 'portfolioModule',
        headersPortfolio: [
          {
            text: 'Exchange',
            align: 'left',
            sortable: false,
            value: 'totalBtc'
          },
          { text: 'BTC', value: 'exchangeBtcVal' },
          { text: 'USD', value: 'exchangeUsdVal' },
        ],
        headers: [
          {
            text: 'Total BTC',
            align: 'left',
            sortable: false,
            value: 'totalBtc'
          },
          
          { text: 'Total USD', value: 'totalUsd' },
        ],
        items: [
          {
            value: false,
            totalBtc: '0.2733848832',
            totalUsd: '2837.33',
          }
        ],
        itemsPortfolio: [
          {
            value: false,
            totalBtc: '0.2733848832',
            totalUsd: '2837.33',
            exchangeName: 'Binance',
            exchangeBtcVal: '0.0388273321',
            exchangeUsdVal: '483.11',
          },
          {
            value: false,
            totalBtc: '0.2733848832',
            totalUsd: '2837.33',
            exchangeName: 'Kucoin',
            exchangeBtcVal: '0.0388273321',
            exchangeUsdVal: '483.11',
          },
        ],
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.balanceModule {
    padding: 15px;
    padding-top:0px;
}
</style>
