<template>
  <container />
</template>

<script>
import Container from './components/Container.vue'

export default {
  name: 'prescun',
  components: {
    Container
  }
}
</script>
<style lang="scss">
@import './assets/styles.css';
</style>
<style>
td.text-xs-right.tdButtonContainer button {
    margin-right: 0px !important;
}
</style>
