<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>BCH ABC/SV Tool</title>
    <meta name="Resource-type" content="Document" />
    <meta name="description" content="">
    <meta name="author" content=""/>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"/><!--, -->
    <meta name="keywords"  content="" />
<!--     <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: *.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com; media-src *; connect-src 'self' *.bitlox.com:*; img-src 'self' data: content:;"> -->
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">    
  </head>
  <body>
    <div id="app"></div> 
    <script type="text/javascript" charset="utf-8" src="cordova.js"></script>
  </body>
</html>
