@import url('iconfont/material-icons.css');

body {
 font-family: sans-serif;
 margin-top: constant(safe-area-inset-top); 
 margin-top: env(safe-area-inset-top); 
 padding-bottom: constant(safe-area-inset-top);
 padding-bottom: env(safe-area-inset-top);
}
.appToolbar {
 padding-top: constant(safe-area-inset-top); 
 padding-top: env(safe-area-inset-top); 
}
.v-footer--fixed {
  position:sticky;
  padding: 10px;
}
.loader,
.loader:before,
.loader:after {
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
  border-radius:2px;
}
.loader {
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  border-radius:2px;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}



/*#cordova-plugin-qrscanner-video-preview {
  z-index: 301!important;
}
#cordova-plugin-qrscanner-still {
  z-index: 302!important;
}*/
#qr-controls {
  z-index: 303!important;
  display:none;
  background-color:transparent;  
  width:100%;
  position:absolute;
  bottom: 5%;
}
#qr-controls button {
    margin:0px auto;
}
.application.theme--dark {
/* background-image: url(~/assets/bg/backgrounds6.png);
 background-size: cover;
 background-attachment: fixed;
 background-position: top left;*/
 background-color: rgba(38,50,40);
}
.application .theme--dark.card__text, .theme--dark .card__text, {


}
.application .theme--dark.card, .theme--dark.v-card,.theme--dark.v-expansion-panel .v-expansion-panel__container {
  background: #263238;  /* Old browsers rgba(38,50,56,0.8);*/
  background: -moz-linear-gradient(45deg, rgba(31,41,50,0.9) 0%,rgba(38,50,56,0.9) 30%,rgba(38,50,56,0.9) 85%,rgba(16,25,28,0.5) 100%);
  background: -webkit-linear-gradient(45deg, rgba(31,41,50,0.9) 0%,rgba(38,50,56,0.9) 30%,rgba(38,50,56,0.9) 85%,rgba(16,25,28,0.5) 100%);
  background: linear-gradient(45deg, rgba(31,41,50,0.9) 0%,rgba(38,50,56,0.9) 30%,rgba(38,50,56,0.9) 85%,rgba(16,25,28,0.5) 100%); */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#263238', endColorstr='#111111',GradientType=2 );

}

/*
.theme--dark .toolbar__content {
  padding-left: 5%;
}
.toolbar .toolbar__content>:not(.btn):not(.menu):last-child:not(:only-child), .toolbar .toolbar__extension>:not(.btn):not(.menu):last-child:not(:only-child) {
  margin-right: 16px;
}
.toolbar .toolbar__content>.btn:first-child, .toolbar .toolbar__extension>.btn:first-child {
  margin-left: 10px;
}*/
.application,.display-1,.display-2,.display-3,.display-4,.title {
  font-family: sans-serif;
}
.headline {
  font-family: sans-serif;
}
.v-btn {
  border-radius: 10px;
}
.v-expansion-panel__header {
  padding:0;
}

.break-word {
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
}
.ellipsis {
  text-overflow: ellipsis;
}
